.dynamic-guide {
    min-height: 100vh;

    .dynamic-guide__background-image {
        position: absolute;
        width: calc(100vw - var(--scrollbar, 15px));
        left: 50%;
        right: 50%;
        margin-left: -50vw;
        margin-right: -50vw;
        border-radius: 0;
        z-index: -1;
        background-repeat: no-repeat;
        background-size: cover;
        min-height: 100vh;
    }
    
    .dynamic-guide__guide {
       display: flex;
       justify-content: center;

        .dynamic-guide__guide-container {
            display: flex;
            justify-content: center;
            flex-direction: column;
            width: 600px;
            max-width: 100%;
        }

        .dynamic-guide__content {
            text-align: center;
        }

        .dynamic-guide__step {
            display: flex;
            flex-direction: column;
            width: 100%;
        }

        .dynamic-guide__step-choice {
            font-size: 1.2rem;
        }

        .dynamic-guide-restart {
            font-size: 0.8rem;
        }
    }
}