.dynamic-guide {
    min-height: 100vh;

    .dynamic-guide__background-image {
        position: absolute;
        width: calc(100vw - var(--scrollbar, 15px));
        left: 50%;
        right: 50%;
        margin-left: -50vw;
        margin-right: -50vw;
        border-radius: 0;
        z-index: -1;
        background-repeat: no-repeat;
        background-size: cover;
        min-height: 100vh;
    }
    
    .dynamic-guide__guide {
       
    }
}